@model TestBaseModel

@{   
    Layout = null;
    var id = Guid.NewGuid().ToString().Replace("-","");
    var message = TempData["message"] as string;
}

@using (Ajax.BeginForm("Index", "Test", new { }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = id.ToString(),
    InsertionMode = InsertionMode.ReplaceWith,
    OnBegin = "begin_" + id,
    OnComplete = "complete_" + id,
    LoadingElementId = "loader_" + id
},  new { id = id })) {

    <div class="loader-content">
        <span>@message</span>
        @Html.ValidationSummary()        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_TestList", Model.Items, new ViewDataDictionary(this.ViewData) { { "CollectionName", "Items"} } )
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_TestList", Model.Data, new ViewDataDictionary(this.ViewData) { { "CollectionName", "Data" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary" data-collection="List">
                        <div class="panel-heading">
                            <h3 class="panel-title">List</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => m.List[0].SomeDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.List[0].SomeNumber)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(m => m.List)
                            </tbody>
                        </table>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-default btn-add-new" data-collection="List" data-url="@Url.Action("GetRow", "Test", new { collection = "List" })">
                                <i class="fa fa-plus"></i> Add New
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                    
                    <button class="btn btn-primary btn-submit pull-right">Submit</button>
                </div>
            </div>            
        </div>        
        <div id="loader_@id" class="loader" style="display:none" >
            <div class="loader-spinner">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <div>Loading...</div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        testController.initForm('@id');
    })
</script>
